<h1>About Us</h1>
<p>
  This is the my sample app I am making using Hartl's rails tutorial 
  - Arpan Bhattacharya
  
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>